<%- include('header') -%>
<div class="content">
    <div class="row mb-3">
        <div class="col-6 col-md-3">
            <a href="/" class="btn btn-lg btn-block btn-danger">Menü</a>
        </div>
    </div>
<div class="text-center card-title card content mb-3">
    <h1>Rendelt Ételek</h1>
</div>
<div class="gap"></div>
<div class="row">
    <% orders.forEach(function(food) { %>
        <div class="col-12 col-sm-6 col-lg-4 mb-3 d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title h3"><%= food.name %></h3>
                    <p class="card-text fs-4"><%= food.description %></p>
                    <p class="card-text fs-4"><%= food.price %> Ft</p>
                    <a href="/remove/<%= food._id %>" class="btn btn-danger btn-sm">Törlés</a>
                </div>
            </div>
        </div>
    <% }); %>
    <div class="col-12 col-sm-6 col-lg-4 mb-3 d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title h3">Teljes összeg: <%= total %> Ft</h3>
                <a href="/success" class="btn btn-danger btn-lg text-center">Megrendelem</a>
            </div>
        </div>
    </div>
</div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('footer') -%>